.responsive-iframe-container {
  position: relative;
  width: 100%; /* Full width of the parent container */
  max-width: 560px; /* Default width for larger screens */
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin: 0 auto; /* Center the iframe horizontally */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Remove iframe border */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .responsive-iframe-container {
    max-width: 320px; /* Smaller width for phones */
  }
}